<body>
<div class="header">
  <div 
    class="header__text"
    object
    key:board-heading="@innerText"
    default:board-heading="Fridge"
    edit:board-heading:without-remove
  >{{boardHeading}}</div>
  <button 
    class="button button--add-stack"
    new:stack
  >Add category</button>
</div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<canvas id="myChart" style="width:100%;max-width:600px;display:flex;justify-content:center;"></canvas>
<script>
  const xValues = [];
{{#each stacks}}
xValues.push("{{this.stackHeading}}");

{{/each}}
const yValues = [];
{{#each stacks}}
yValues.push("{{cards.length}}")
{{/each}}

const barColors = [
  "#b91d47",
  "#00aba9",
  "#2b5797",
  "#e8c3b9",
  "#1e7145"
];

new Chart("myChart", {
  type: "pie",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    title: {
      display: true,
      text: "Items in your fridge"
    }
  }
});
</script>


<div class="board-container">
  <div 
    class="board"
    array
    key="stacks"
    sortable="stacks"
  >
    {{#for stack in stacks}}
      <div 
        class="stack"
        object
        key:stack-heading="@search"
        default:stack-heading="A Project"
      >
        <div class="stack__top">
          <p 
            class="stack__text"
            target:stack-heading="@innerText"
            edit:stack-heading
          >{{default stack.stackHeading "New stack item"}}</p>
          <button 
            class="button button--plus-square"
            new:card
          >
            <img class="stack__new-icon" src="/assets/images/new.svg">
          </button>
        </div>
        <div 
          class="stack__list"
          key="cards"
          array
          sortable="cards"
        >   
          {{#for card in stack.cards}}
            <div 
              class="card"
              object
              key:card-text="@search"
              edit:card-text
            >
              <p 
                class="card__text"
                target:card-text="@innerText"
              >{{default card.cardText "New card item"}}</p>
              <img class="card__drag" src="/assets/images/drag.svg">
            </div>
          {{/for}}
        </div>
        <div class="stack__add-card-container">
          <button 
            class="stack__add-card"
            new:card
          >
            <img class="stack__add-card-icon" src="/assets/images/plus.svg"><p>Add card</p>
          </button>
        </div>
      </div>
    {{/for}}
  </div>
</div>

<script>
  let refresh = document.querySelectorAll("button");
  refresh.addEventListener("click", function() {
    location.reload();
  });
</script>

</body>